<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile page</title>
    </head>
    <body>
        <%- include('common/header') %>
        <h1>Welcome <%= user.name %></h1>
        <h2>Email is <%= user.email %></h2>
        <h2>City is <%= user.city %></h2>

        <ul>
            <% user.skills.forEach((item)=>{ %>
                <li> <%= item %></li>
            <% }) %>
        </ul>
    </body>
</html>